.terms-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.terms-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 600;
    color: #111;
    text-align: center;
}

.terms-container h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
    font-weight: 500;
}

.terms-container p {
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #555;
    line-height: 1.8;
}

.terms-container ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

.terms-container ul li {
    margin-bottom: 10px;
}

.terms-container a {
    color: #0071e3;
    text-decoration: none;
}

.terms-container a:hover {
    text-decoration: underline;
}


.policy-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.policy-container h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    font-weight: 600;
    color: #111;
    text-align: center;
}

.policy-container h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #333;
    font-weight: 500;
}

.policy-container p {
    margin-bottom: 20px;
    font-size: 1.1em;
    color: #555;
    line-height: 1.8;
}

.policy-container ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

.policy-container ul li {
    margin-bottom: 10px;
}

.policy-container a {
    color: #0071e3;
    text-decoration: none;
}

.policy-container a:hover {
    text-decoration: underline;
}

.footer-cta-section {
    background-color: #041737;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.footer-cta-section h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.cta-button {
    background-color: #1e90ff;
    color: white;
    padding: 12px 30px;
    font-size: 1.1rem;
    border-radius: 50px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #1c76d2;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #041737;
    color: white;
    font-size: 0.9rem;
}

footer a {
    color: #1e90ff;
}
